body {
  background-color: #317373;
  background-image: url("https://img00.deviantart.net/d814/i/2017/028/0/f/squirtle_charmander_bulbasaur__pokemon__by_greenmapple17-d82mz5w.png");
  background-size: cover;
}

.app-content {
  width: 600px;
  margin-top: 100px;
  padding: 40px;
  background-color: #96CCB8; 
  border-color: #ac0031; 
  color: #fff;
}

.control-row {
  margin-bottom: 8px;
}

@media (max-width: 650px) {
  .app-content {
    margin: 20px 20px 0;
    width: auto;
  }
}